<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align:center;">
    <label>User Name</label>
    <input type="text" placeholder="user name"><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label>E-mail</label>
    <input type="text" placeholder="E-mail"><br><br>&nbsp;&nbsp;
    <label>Password</label>
    <input type="password" placeholder="password"><br><br>&nbsp;&nbsp;
    <button type="submit">Login</button>
</div>


</body>
</html>